.app {
    background: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TEXT AREA */

.text-area {
    background: red;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input {
    outline: none;
    resize: none;
}

/* RESULTS */

.results {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.oe {
    background: green;
    width: 250px;
    height: 100px;
}