@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #645394;
}

.app {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 3fr 1fr;
    align-items: ;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    background: orange;
    
    grid-column: span 2;
}

.text-area, .results, textarea {
    font-family: 'Merriweather', serif;
}

/* TEXT AREA */

.text-area {
    background: #645394;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: ;
    padding: 50px;

    flex: ;
    
}

.input {
    outline: none;
    resize: none;
    border: none;
    width: 80%;
    height: 250px;
    box-shadow: inset 0 0 5px gray;
}

.submit {
    border: 3px solid #FFF;
    color: #FFF;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
    border-radius: 3px;
}

.submit:hover {
    background: #948ca8;
}

.submit:active {
    background: red;
}

/* RESULTS */

.results {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: ;
    text-align: center;
    grid-column-gap: 2px;
    max-height: 100vh;
    overflow-y: auto;
    align-self: start;

}

.word > p:nth-child(odd), 
.rank > p:nth-child(odd), 
.count > p:nth-child(odd) {
    background: #aaa0c4;
}

.word > p,
.rank > p,
.count > p {
    background: #EBE1DF;
}

.word, .rank, .count {
    grid-row-gap: 2px;
    display: grid;
}

.title {
    background: #6CA0DC;
    color: #FFF;
}

.text {
    background: #FFF;
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px;
    text-justify: inter-word;
    overflow-y: auto;
    max-height: 200px;
    
}

.highlight {
    background: red;
    color: #FFF;
}