@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

.app {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.text-area, .results, textarea {
    font-family: 'Merriweather', serif;
}

/* TEXT AREA */

.text-area {
    background: ;
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 80%;
    
}

.input {
    outline: none;
    resize: none;
    border: none;
    width: 80%;
    height: 250px;
    box-shadow: inset 0 0 5px gray;
}

/* RESULTS */

.results {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.oe {
    background: green;
    width: 250px;
    height: 100px;
}